@import '../../style/variables';


// Styles pour le format desktop
footer {
    background-color: $black2;
    text-align: center;
    padding: 5px;

    .informations {
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        margin:20px;

        div {
            div {
                margin:20px;
                p{
                    margin:5px;
                }
                a {
                    text-decoration: none;
                    color: #FCFCFC;
                }
            }
        }
    
        h4 {
            text-align: center;
            color: #FCFCFC;
        }
    }
    section {

        div {

            h4{
                color: #FCFCFC;
                text-align: center;
                padding-bottom: 10px;

            } 
        }
    }
}
  
// Styles pour le format mobile avec media query
@media only screen and (max-width: 400px) {
    footer {
        .informations {
            justify-content: space-around;
            padding-bottom: 1px;
            margin:8px;

            div {
                h4 {
                    font-size: 12px;    
                }
        
                div {
                    margin:5px;
                    p{
                        margin:2px;
                    }
                    p, h4 {
                        font-size: 10px;
                    }
                }
            }
        }
        section {
            div {
                h4{
                    font-size: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    footer {
        .informations {
            flex-direction: column;
            gap: 50px;
        }
    }
}