// Définition des variables du site

// Couleurs
$clientPrimaryColor: #307B5C;
$ownerPrimaryColor: #082C4C;
$secondaryColor: #A9A9A9;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$grey1: #333333;
$grey2: #4F4F4F;
$grey3: #828282;
$grey4: #BDBDBD;
$grey5: #E0E0E0;

// States
$successColor: #27AE60;
$errorColor: #EB5757;
$warningColor: #E2B93B;
$infoColor: #2F80ED;

