@import '../../style/variables';

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    .cgu{
        display: flex;
        flex-direction: column;
        gap: 2em;
        background-color: $whiteColor;
        padding: 1em;

        h2{
            text-align: center;
        }
    }
}