Options +FollowSymLinks
RewriteEngine On


# REDIRECTIONS CLIENT #


# Rediriger /client/connection vers /client/clientConnection/client_connection.php
RewriteRule ^client/connection$ /client/clientConnection/client_connection.php [L]

# Rediriger /logement vers /client/ficheLogement/page.php
RewriteRule ^logement$ /client/ficheLogement/logement.php [L]

# Rediriger /detail-reservation vers /client/consulter_detail_reservation/consulter_detail_reservation.php
RewriteRule ^detail-reservation$ /client/consulter_detail_reservation/consulter_detail_reservation.php [L]


# REDIRECTIONS PROPRIETAIRE #


# Rediriger /back/connection vers /owner/ownerConnection/owner_connection.php
RewriteRule ^back/connection$ /owner/ownerConnection/owner_connection.php [L]

# Rediriger /back/reservations vers /owner/consulter_reservations/consulter_reservations.php
RewriteRule ^back/reservations$ /owner/consulter_reservations/consulter_reservations.php [L]

# Rediriger /back/logements/id vers /owner/consulter_logement/logement.php
RewriteRule ^back/logements/([0-9]+)$ /owner/consulter_logement/logement.php?housingID=$1 [L]

# REDIRECTIONS ADMINISTRATEUR #

