Options +FollowSymLinks
RewriteEngine On

# REDIRECTIONS GLOBALES #

# Rediriger /logout vers /controllers/logoutController.php
RewriteRule ^logout$ /controllers/logoutController.php [L]


# REDIRECTIONS CLIENT #

# Rediriger /logement/payment vers /client/reservationPayment/reservation-payment.php
RewriteRule ^logement/payment$ /client/reservationPayment/reservation-payment.php [L]

# Rediriger /client/profile vers /client/clientProfil/client-profil.php
RewriteRule ^client/profile$ /client/clientProfile/client-profile.php [L]

# Rediriger /client/reservationsListe /client/consulterReservations/clientReservations.php
RewriteRule ^client/reservations-liste$ /client/consulterReservations/clientReservations.php [L]


# Rediriger /client/connection vers /client/clientConnection/client_connection.php
RewriteRule ^client/connection$ /client/clientConnection/client_connection.php [L]

# Rediriger /client/register vers /client/clientRegister/client_register.php
RewriteRule ^client/register$ /client/clientRegister/client_register.php [L]

# Rediriger /client/create-account vers /client/clientRegister/client_create_account.php
RewriteRule ^client/create-account$ /client/clientRegister/client_create_account.php [L]

# Rediriger /logement vers /client/ficheLogement/page.php
RewriteRule ^logement$ /client/ficheLogement/page.php [L]

# Rediriger /logement/devis vers /client/bid/bid.php
RewriteRule ^logement/devis$ /client/bid/bid.php [L]

# Rediriger /detail-reservation vers /client/consulter_detail_reservation/consulter_detail_reservation.php
RewriteRule ^detail-reservation$ /client/consulter_detail_reservation/consulter_detail_reservation.php [L]

# Rediriger /client/forgot-password /client/clientForgotPassword/clientForgotPassword.php
RewriteRule ^client/forgot-password$ /client/clientForgotPassword/clientForgotPassword.php [L]

# Rediriger /client/forgot-password /client/clientForgotPassword/reset-password-page.php
RewriteRule ^client/reset-password$ /client/clientForgotPassword/reset-password-page.php [L]

# Rediriger /client/forgot-password /client/clientForgotPassword/reset-password-page.php
RewriteRule ^client/exporter$ /client/consulter_reservations/gerer_abonnements_ical.php [L]

# Rediriger /calendar/id vers /owner/consulter_logement/logement.php
RewriteRule ^/client/calendar/([a-zA-Z0-9_.-]*)$ /client/consulter_reservations/iCal.php?token=$1 [L]



# REDIRECTIONS PROPRIETAIRE #

# Rediriger /back/forgot-password /owner/ownerForgotPassword/ownerForgotPassword.php
RewriteRule ^back/forgot-password$ /owner/ownerForgotPassword/ownerForgotPassword.php [L]

# Rediriger /back/forgot-password /owner/clientForgotPassword/reset-password-page.php
RewriteRule ^back/reset-password$ /owner/ownerForgotPassword/reset-password-page.php [L]

# Rediriger /back vers /back/connection
RewriteRule ^back$ /back/connection [L]

# Rediriger /back/connection vers /owner/ownerConnection/owner_connection.php
RewriteRule ^back/connection$ /owner/ownerConnection/owner_connection.php [L]

# Rediriger /back/register vers /owner/clientRegister/owner_register.php
RewriteRule ^back/register$ /owner/ownerRegister/owner_register.php [L]

# Rediriger /calendar/id vers /owner/consulter_logement/logement.php
RewriteRule ^calendar/([a-zA-Z0-9_.-]*)$ /owner/consulter_reservations/iCal.php?token=$1 [L]

# Rediriger /back/reservations vers /owner/consulter_reservations/consulter_reservations.php
RewriteRule ^back/reservations$ /owner/consulter_reservations/consulter_reservations.php [L]

# Rediriger /back/detail-reservation vers /owner/consulter_detail_reservation/consulter_detail_reservation.php
RewriteRule ^back/detail-reservation$ /owner/consulter_detail_reservation/consulter_detail_reservation.php [L]

# Rediriger /back/creer-logement vers /owner/creer_logement/creer_logement.php
RewriteRule ^back/creer-logement$ /owner/creer_un_logement/creer_un_logement.php [L]
# Rediriger /back/logements/id vers /owner/consulter_logement/logement.php
RewriteRule ^back/logements/([0-9]+)$ /owner/consulter_logement/logement.php?housingID=$1 [L]

# Rediriger /client/profil/id vers /client/consulter_profil/consulter_profil.php
RewriteRule ^client/profil/([0-9]+)$ /client/consulter_profil/consulter_profil.php?ownerID=$1 [L]

# Rediriger /client/profil/id vers /back/consulter_profil/consulter_profil.php
RewriteRule ^back/profil/([0-9]+)$ /owner/consulter_profil/consulter_profil.php?clientID=$1 [L]

# Rediriger /back/reservations vers /owner/consulter_reservations/consulter_reservations.php
RewriteRule ^back/logements$ /owner/consulter_logements/consulter_logements.php [L]

# Rediriger /detail-reservation vers /owner/consulter_detail_reservation/consulter_detail_reservation.php
RewriteRule ^back/detail-reservation$ /owner/consulter_detail_reservation/consulter_detail_reservation.php [L]

# Rediriger /back/profile vers /owner/ownerProfile/owner-profile.php
RewriteRule ^back/profile$ /owner/ownerProfile/owner-profile.php [L]

# Rediriger /back/creer-logement vers /owner/creer_logement/creer_logement.php
RewriteRule ^back/creer-logement$ /owner/creer_un_logement/creer_un_logement.php [L]

# REDIRECTIONS ADMINISTRATEUR #
