@import '../../style/variables';

body {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 120px;
    width: min-content;

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        list-style: none;
        box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.25);

        li {
            display: flex;
            width: 20rem;
            height: 70px;
            font-weight: bold;
            font-size: $font-size-lg;
            
            a {
                line-height: 70px;
                width: 100%;
                padding-inline: 3.2rem;
                height: 100%;
                color: $ownerPrimaryColor;
                text-decoration: none;
                border-bottom: 1px solid $lighterGrey5;
            }

            &.active {
                background-color: $ownerPrimaryColor;
                a { color: $whiteColor; }
            }

            &:hover {
                background-color: $grey6;
                cursor: pointer;
            }

            &.active:hover {
                background-color: $ownerPrimaryColorHover;
            }
        }
    }
}