.photo img {
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo h2 {
  margin-bottom: 10px;
}

.page {
  height: 100%;
  max-width: 1300px;
  margin: 5em auto 0 auto;
  align-items: start;
}

.twodiv {
  /* border: 2px solid red; */
  width: 100%;
  padding-top: 1em;
  display: flex;
  gap: 2em;
}

.reservation {
<<<<<<< HEAD
  border: 2px solid red;
=======
  /* border: 2px solid red; */
>>>>>>> 7e7be3f (page fonctionnel)
  width: 50%;
  height: 35em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation .reservationBtn {
  margin-top: 3em;
  width: 75%;
}
.reservation .reservationBtn button {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.reservation .prix {
  display: flex;
  gap: 19.5em;
  margin-top: 2em;
}

.nbrClients {
  display: flex;
  justify-content: center;
}
.nbrClients #addTravelersBtn {
  background-color: transparent;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 32.7em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nbrClients {
  display: flex;
  justify-content: center;
}
.nbrClients #addTravelersBtn {
  background-color: transparent;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 23em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datepicker {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.datepicker .arrivee {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
}
.datepicker .vertical-line {
  border-left: 1px solid gray;
  display: inline-block;
  height: 5em;
}
.datepicker .depart, .datepicker .arrivee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  width: 50%;
  height: 35em;
<<<<<<< HEAD
  border: 2px solid red;
=======
=======
>>>>>>> 7e7be3f (page fonctionnel)
  /* border: 2px solid red; */
  position: relative;
}
.details .criteres {
  width: 100%;
  height: 10%;
  margin-top: 2em;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
}
.details .description {
  border: 2px solid gray;
  margin-top: 2em;
  height: 50%;
  border-radius: 20px;
  position: relative;
}
.details .description .texte {
  position: relative;
  margin: 20px;
}
.details .description .texte p {
  margin-top: 10px;
}
.details .description button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  border: none;
  background-color: transparent;
}
.details .description button:hover {
  text-decoration: underline;
}

.proprio {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.proprio img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}/*# sourceMappingURL=page.css.map */