@charset "UTF-8";
@keyframes circle-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
}

.photo {
  width: 100%;
}
.photo img {
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo h2 {
  margin-bottom: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1300px;
  margin: 5em auto 0 auto;
  align-items: start;
}
.page #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.page #popup2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 2em;
  z-index: 9999;
}
.page #popup2.show {
  display: block;
}
.page #popup2 .popup-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.page #popup2 .popup-content #closePopupBtn {
  position: absolute;
  top: 1em;
  left: 1em;
  transform-origin: center;
}
.page #popup2 .popup-content #closePopupBtn.fa-solid.fa-xmark {
  transition: transform 0.3s;
}
.page #popup2 .popup-content #closePopupBtn.fa-solid.fa-xmark:hover {
  animation: circle-animation 1s ease-in-out infinite;
}
.page #popup2 .popup-content .traveler-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page #popup2 .popup-content .traveler-type .addbtn {
  display: flex;
  gap: 0.5em;
}
.page #popup2 .popup-content .traveler-type .addbtn button {
  cursor: pointer;
}
.page #popup2 .popup-content .traveler-type .addbtn .nbr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
}
.page .localisation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.page .localisation .local-texte {
  display: flex;
  gap: 0.5em;
}

.overflow {
  overflow: hidden;
}

.twodiv {
  width: 100%;
  padding-top: 1em;
  display: flex;
  gap: 2em;
}

.reservation {
  border: 1px solid #A9A9A9;
  border-radius: 20px;
  width: 50%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation h3 {
  align-self: start;
}
.reservation .reservationBtn {
  margin-top: 3em;
  width: 75%;
}
.reservation .reservationBtn button {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 20px;
  border: gray;
  background-color: #307B5C;
  color: white;
}
.reservation .prix {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.reservation .prix .calcul, .reservation .prix .total {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  width: 100%;
}
.reservation .prix .horizontal-line {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 2em;
  height: 0;
}

.nbrClients {
  display: flex;
  justify-content: center;
}
.nbrClients #addTravelersBtn {
  background-color: transparent;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 32.7em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datepicker {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.datepicker .arrivee {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
}
.datepicker .vertical-line {
  border-left: 1px solid gray;
  display: inline-block;
  height: 5em;
}
.datepicker .depart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-left: none;
  border-top-right-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
}

.details {
  width: 50%;
  position: relative;
}
.details .criteres {
  width: 100%;
  height: 10%;
  margin-top: 3em;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
}
.details .description {
  border: 2px solid gray;
  margin-top: 2em;
  height: 20em;
  border-radius: 20px;
  position: relative;
}
.details .description .texte {
  position: relative;
  margin: 20px;
  height: 90%;
}
.details .description .texte p {
  margin-top: 10px;
}
.details .description .texte #truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.details .description button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
.details .description button:hover {
  text-decoration: underline;
}

.proprio {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.proprio img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

#start-date, #end-date {
  border: none;
  text-align: center;
}

.traveler-type {
  display: flex;
  gap: 3em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
}

.adulteInfo, .enfantInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addbtn {
  display: flex;
}
.addbtn .nbr {
  text-align: center;
  width: 2em;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 10em;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.popup-savoir-open {
  overflow: hidden;
}

/* Styles pour la pop-up */
#popup-savoir {
  flex-direction: column;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50em;
  height: 25em;
  background-color: white;
  padding: 3em;
  border: 2px solid #ccc;
  border-radius: 20px;
  z-index: 9999;
  overflow-y: auto; /* Autoriser le défilement vertical si le contenu dépasse la taille de la fenêtre */
}
#popup-savoir #close-popup {
  position: absolute;
  top: 1em;
  left: 1em;
  transform-origin: center;
}
#popup-savoir #close-popup.fa-solid.fa-xmark {
  transition: transform 0.3s;
}
#popup-savoir #close-popup.fa-solid.fa-xmark:hover {
  animation: circle-animation 1s ease-in-out infinite;
}
#popup-savoir h3 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: start;
}
#popup-savoir p {
  line-height: 2;
}

#popup-overlay-savoir {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}/*# sourceMappingURL=page.css.map */