@import '../../style/variables';

@keyframes circle-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

body {
    margin: 0;
}

.photo {
    width: 100%;
    img {
        width: 100%;
        max-height: 500px;
        border-radius: 20px;
        object-fit: cover;
    }
    h2 {
        margin-bottom: 10px;
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1300px;
    margin: 8em auto 0 auto;
    align-items: start;

    #overlay {
        display: none;
        overflow: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }

    #popup2 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid gray;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
        border-radius: 20px;
        padding: 2em;
        z-index: 9999;

        &.show {
            display: block;
        }

        .popup-content {
            display: flex;
            flex-direction: column;
            gap: 1em;

            #closePopupBtn {
                position: absolute;
                top: 1em;
                left: 1em;

                // Définir le centre de rotation au milieu de l'icône
                transform-origin: center;
                    
                // Appliquer les styles de l'icône
                &.fa-solid {
                    // Définir les propriétés pour l'icône spécifique
                    &.fa-xmark {
                        // Ajouter une transition pour une animation fluide
                        transition: transform 0.3s;

                        // Définir les styles pour le survol de l'icône
                        &:hover {
                            // Appliquer l'animation de cercle définie
                            animation: circle-animation 1s ease-in-out infinite;
                        }
                    }
                }                
            }

            .traveler-type {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .addbtn {
                    display: flex;
                    gap: 0.5em;
                    border: 1px solid gray;
                    padding: 0.5em;
                    background-color: transparent;
                    border-radius: 20px;

                    button {
                        cursor: pointer;
                        border-radius: 20px;
                        border: 1px solid gray;
                    }

                    .nbr {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2em;
                        color: black;
                    }
                }
            }
        }
    }

    .localisation {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 3em;

        .local-texte {
            display: flex;
            gap: 0.5em;
        }
    }
}

.popup-active {
    overflow: hidden;
}


.twodiv {
    width: 100%;
    padding-top: 1em;
    display: flex;
    gap: 2em;
}

.reservation {
    border: 1px solid $secondaryColor;
    border-radius: 20px;
    width: 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        align-self: start;

    }

    .reservationBtn {
        margin-top: 3em;
        margin-bottom: 1em;
        width: 75%;

        button {
            width: 100%;
            padding-top: 1em;
            padding-bottom: 1em;
            border-radius: 20px;
            border: gray;
            background-color: #307B5C;
            color: white;           
        }
    }

    .prix {
        display: flex;
        flex-direction: column;
        width: 75%;
        .calcul, .total {
            display: flex;
            margin-top: 2em;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.horizontal-line {
    border: none;
    border-top: 1px solid #ccc; 
    margin-top: 2em;
    height: 0;       
}

.nbrClients {
    display: flex;
    justify-content: center;

    #addTravelersBtn {
        background-color: transparent;
        border: 1px solid gray;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 32.7em;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.datepicker {
    display: flex;
    justify-content: center;
    margin-top: 3em;

    .arrivee {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-right: none;
        border-top-left-radius: 10px;
        padding-left: 2em;
        padding-right: 2em;
        justify-content: center;
    }

    .vertical-line {
        border-left: 1px solid gray;
        display: inline-block;
        height: 5em;
    }

    .depart {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-left: none;
        border-top-right-radius: 10px;
        padding-left: 2em;
        padding-right: 2em;
        justify-content: center;
    }
}

.details {
    width: 50%;
    position: relative;

    .criteres {
        width: 100%;
        height: 10%;
        margin-top: 3em;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        background-color: black;
        color: white;
    }

    .description {
        border: 2px solid gray; 
        margin-top: 2em;
        height: 20em;
        border-radius: 20px;
        position: relative;

        .texte {
            position: relative;
            margin: 20px;
            height: 90%;
            p {
                margin-top: 10px;
            }

            #truncate-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8; // Nombre de lignes avant la troncature
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 1.6em;
            }
        }

    
        button {
            position: absolute;
            bottom: 0;
            right: 0;
            border: none;
            background-color: transparent;
        }

        button:hover {
            text-decoration: underline;
        }
    }

    
}

.proprio {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;

    img {
        width: 70px; // Définissez la largeur de votre image
        height: 70px; // Définissez la hauteur de votre image
        border-radius: 50%; // Rend l'image ronde
        overflow: hidden; // Masque toute partie de l'image en dehors du cadre arrondi
    }
}

#start-date, #end-date {
    border: none;  
    text-align: center;
}

.traveler-type {
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

.adulteInfo, .enfantInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addbtn {
    display: flex;

    .nbr {
        text-align: center;
        width: 2em;
    }
}

#map {
    width: 100%; 
    height: 200px; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tooltip {
    position: relative;
    cursor: pointer;

    .tooltip-text {
        visibility: hidden;
        width: max-content;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        border: 1px solid gray;
        text-align: center;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 115%;
        left: 10em;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}



.popup-savoir-open {
    overflow: hidden; // Empêche le défilement du corps lorsque la pop-up est ouverte
    
}

/* Styles pour la pop-up */
#popup-savoir {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35em;
    height: 40em;
    background-color: white;
    padding: 3em;
    border: 2px solid #ccc;
    border-radius: 20px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    overflow-y: auto; /* Autoriser le défilement vertical si le contenu dépasse la taille de la fenêtre */

    #close-popup {
        position: absolute;
        top: 1em;
        left: 1em;
    
        // Définir le centre de rotation au milieu de l'icône
        transform-origin: center;
    
        // Appliquer les styles de l'icône
        &.fa-solid {
            // Définir les propriétés pour l'icône spécifique
            &.fa-xmark {
                // Ajouter une transition pour une animation fluide
                transition: transform 0.3s;
    
                // Définir les styles pour le survol de l'icône
                &:hover {
                    // Appliquer l'animation de cercle définie
                    animation: circle-animation 1s ease-in-out infinite;
                }
            }
        }
    }

    h3{
        margin-bottom: 1.5em;
        text-align: center;
    }

    p {
        line-height: 2;
    }

}

#popup-overlay-savoir {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}


.overlay-critere {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;

}

.popup-critere {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2em;
    z-index: 9999;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    &.show {
        display: block;
    }

    .popup-content-critere {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 3em;
        width: 35em;
        height: 35em;

        i#closePopupCritereBtn {
            position: absolute;
            top: 1em;
            left: 1em;

            transform-origin: center;
    
            // Appliquer les styles de l'icône
            &.fa-solid {
                // Définir les propriétés pour l'icône spécifique
                &.fa-xmark {
                    // Ajouter une transition pour une animation fluide
                    transition: transform 0.3s;
        
                    // Définir les styles pour le survol de l'icône
                    &:hover {
                        // Appliquer l'animation de cercle définie
                        animation: circle-animation 1s ease-in-out infinite;
                    }
                }
            }
        }

        h3 {
            text-align: center;
            margin-bottom: 0.5em;
        }

        .section {


            .items {
                display: flex;
                flex-wrap: wrap;
                gap: 3em;
                margin-left: 5em;
                margin-top: 2em;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 1.5em;
                    min-width: 45%;

                    i{
                        color: $clientPrimaryColor;
                    }

                }
            }
        }
    }
}
