body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.bg {
    position: fixed;

    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.house {
    position: fixed;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.breizh {
    z-index: 2;
}

.hero img {
    object-fit: cover;
}

.search-bar--hero {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    z-index: 3;
}