@import '../../style/variables';

body {
    margin: 0;
    padding: 0;
}

main {
    color: $ownerPrimaryColor;
    padding-top: 2rem;
    padding-inline: 50px;
}

.title {
    display: flex;
    width: 100%;
    padding: 0.4rem 0 0.4rem 0.6rem;
    align-items: center;
    margin-top: 1rem;
    background-color: red;
}