@font-face {
  font-family: Luciole-Reguglar;
  src: url(/assets/luciole/Luciole-Reguglar.ttf) format(ttf);
}
.header-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 60;
  border-radius: 20px 20px 0 0;
  justify-content: space-around;
  align-items: center;
}
.header-mobile i {
  font-size: 30px;
  color: #307B5C;
}
.header-mobile .fa-magnifying-glass {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  border-radius: 70px;
  transform: translateY(-50%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.header-mobile .header-mobile__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #307B5C;
}
.header-mobile .header-mobile__icon p {
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .header-mobile {
    display: flex;
  }
}

#oeuil:hover {
  cursor: pointer;
}

.accessibilite__font * :not(i) {
  font-family: "Luciole-Reguglar", sans-serif;
}

.accessibilite__taille h1 {
  font-size: max(54px, 3.125vw);
}
.accessibilite__taille h2 {
  font-size: max(45px, 2.9166666667vw);
}
.accessibilite__taille h3 {
  font-size: max(30px, 2.5vw);
}
.accessibilite__taille h4 {
  font-size: max(23px, 1.5625vw);
}
.accessibilite__taille p {
  font-size: max(16px, 1.0416666667vw);
}

.popup__access {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__access .popup__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #ddd;
  width: 40%;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .popup__access .popup__content {
    padding: 25px;
    width: 70%;
  }
}
.popup__access .popup__content #closeAccess {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.popup__access .popup__content #closeAccess:hover,
.popup__access .popup__content #closeAccess:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup__access .popup__content h2 {
  text-align: center;
}
.popup__access .popup__content .popup__options {
  display: flex;
  flex-direction: column;
  padding: 50px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .popup__access .popup__content .popup__options {
    padding: 25px;
  }
}
.popup__access .popup__content .popup__options div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.popup__access .popup__content .popup__options div div {
  background-color: white;
  margin: 35px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); /* Exemple d'ombre */
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .popup__access .popup__content .popup__options div div {
    padding: 17.5px;
    margin: 10px;
  }
}
.popup__access .popup__content .popup__options div div label {
  color: #FFF;
}
.popup__access .popup__content .popup__options div div:hover {
  background-color: #37906c;
  cursor: pointer;
}

.leaflet-pane {
  position: relative;
  z-index: 50;
}

.leaflet-top {
  position: relative;
  z-index: 55;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  padding-inline: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  transition: all 0.3;
  background: rgb(115, 115, 115);
  background: linear-gradient(rgba(0, 45, 87, 0.55) 0%, rgba(115, 115, 115, 0) 100%);
  z-index: 1000;
}
.header i {
  color: white;
}
.header .logo-big {
  width: 20%;
  display: none;
}
.header .logo-small {
  display: block;
}
.header.scroll, .header.scrolling {
  height: auto;
  position: fixed;
  background: #ffffff;
  animation-duration: 0.2s;
  animation-name: showUp;
  height: 80px;
  transition: all 0.1s;
}
.header.scroll:has(.search-bar--open), .header.scrolling:has(.search-bar--open) {
  height: 120px;
}
@media screen and (max-width: 1500px) {
  .header.scroll .logo-big, .header.scrolling .logo-big {
    width: 150px !important;
  }
}
@media screen and (max-width: 1024px) {
  .header.scroll, .header.scrolling {
    justify-content: center;
    height: auto !important;
  }
  .header.scroll .logo, .header.scrolling .logo {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .header.scroll .logo img, .header.scrolling .logo img {
    width: 250px !important;
  }
  .header.scroll .header__right, .header.scrolling .header__right {
    display: none;
  }
  .header.scroll .search-bar, .header.scrolling .search-bar {
    display: none !important;
  }
}
.header.scroll .header__right i, .header.scrolling .header__right i {
  color: black;
}
@keyframes showUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header.scroll .logo-big, .header.scrolling .logo-big {
  display: block;
}
.header.scroll .logo, .header.scrolling .logo {
  width: 20%;
}
.header.scroll .logo-small, .header.scrolling .logo-small {
  display: none;
}
.header.scroll .search-bar, .header.scrolling .search-bar {
  justify-content: space-between;
  display: flex;
}
.header__right {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  justify-content: end;
  flex: 0 0 20%;
}
.header.header--backoffice {
  height: 120px !important;
  padding-bottom: 0;
}
.header.header--backoffice .header__right i {
  color: #082C4C;
}
.header.header--backoffice .logo-big {
  filter: brightness(0) saturate(100%) invert(9%) sepia(27%) saturate(6310%) hue-rotate(194deg) brightness(97%) contrast(94%);
}
.header.header--backoffice .logo-small {
  filter: brightness(0) saturate(100%) invert(9%) sepia(27%) saturate(6310%) hue-rotate(194deg) brightness(97%) contrast(94%);
}
.header .fa-user {
  font-size: 40px;
}
.header .fa-eye {
  font-size: 30px;
}
.header #logo {
  width: 250px;
  height: auto;
}
.header #profil {
  width: 35px;
  height: auto;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header #profil {
    display: none;
  }
}
.header #options {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 1em;
  z-index: 2;
}
.header #options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header #options ul li {
  color: black;
  padding: 5px 0;
  cursor: pointer;
}
.header #options ul li a {
  text-decoration: none;
  color: inherit;
}
.header #options ul li:hover {
  background-color: #f0f0f0;
}/*# sourceMappingURL=header.css.map */