@import '../../style/variables';

@font-face {
	font-family: Luciole-Reguglar;
	src:
		url(/assets/luciole/Luciole-Reguglar.ttf) format(ttf);
}

.header-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 60;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
    align-items: center;

    i {
        font-size: 30px;
        color: $clientPrimaryColor;
    }

    .fa-magnifying-glass {
        position: absolute;
        background-color: #fff;
        padding: 30px;
        border-radius: 70px;
        transform: translateY(-50%);
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    .header-mobile__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clientPrimaryColor;

        p {
            font-weight: bold;
        }

        .profilImg {
            height: 40px;
            border-radius: 70px;
            border: $clientPrimaryColor 3px solid;
        }
      }

    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

#oeuil:hover {
    cursor: pointer;

}


.accessibilite__animations {
    * {
        animation: none !important;
        transition: none !important;
    }
    
}

.accessibilite__couleurs {
    .button--vert, .button--bleu, .button--rouge {
        button {
            background-color: orange;
        }
    }
    .button--bleu {
        background-color: orange;
    }

    .content__selector__personnal-data__title, .content__selector__security__title {
        color: violet;
    }

    .order-btn {
        background-color: orange;
    }
    * {
        color: violet;
    }
    
}


.accessibilite__font {
    * :not(i) {
        font-family: 'Luciole-Reguglar', sans-serif;
    }
}

.accessibilite__taille {
    $font-size-xs: max(14px, calc(16vw / 19.2));
    $font-size-base: max(16px, calc(20vw / 19.2));
    $font-size-lg: max(23px, calc(30vw / 19.2));
    $font-size-xl: max(30px, calc(48vw / 19.2));
    $font-size-2xl: max(45px, calc(56vw / 19.2));
    $font-size-3xl: max(54px, calc(60vw / 19.2));

    h1 {
        font-size: $font-size-3xl;
    }

    h2 {
        font-size: $font-size-2xl;
    }

    h3 {
        font-size: $font-size-xl;
    }

    h4 {
        font-size: $font-size-lg;
    }
    
    p {
        font-size: $font-size-base;
    }

}


.popup__access {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display:none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.5);

    .popup__content {
        
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f9f9f9;
        border-radius: 10px;

        padding: 25px;
        border: 1px solid #ddd;
        width: 40%;
        justify-content: center;
        position: relative;

        @media screen and (max-width: 1024px) {
            padding: 25px;
            width: 70%;
        }

        #closeAccess {
            position: absolute; 
            top: 10px; 
            right: 10px; 
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        #closeAccess:hover,
        #closeAccess:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        h2 {
            text-align: center;
        }


        .popup__options {
            display: flex;
            flex-direction: column;
            padding: 50px;
            white-space: wrap;
            
            @media screen and (max-width: 1024px) {
                padding: 25px;
        
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                div {
                    background-color: white;
                    margin: 35px;
                    padding: 20px;
                    border-radius: 10px;
                    text-align: center;
                    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); /* Exemple d'ombre */
                    width: 100%;
                    align-items: center;

                    @media screen and (max-width: 1024px) {
                        padding: 17.5px;
                        margin: 10px;

                    }

                    label {
                        color: #FFF;
                        

                    }
                }

                div:hover {
                    background-color: #37906c;
                    cursor: pointer;
                }
                
        
            }
        }
    }
    
}
.leaflet-pane {
    position: relative;
    z-index: 50;
}
.leaflet-top {
    position: relative;
    z-index: 55;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    padding-inline: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    transition: all 0.3;
    background: rgb(115,115,115);
    background: linear-gradient(rgba(0,45,87,0.55) 0%, rgba(115,115,115,0) 100%);
    
    z-index: 1000;


    i {
        color: white;
    }

    .logo-big {
        width: 20%;
        display: none;
    }

    .logo-small {
        display: block;
    }

    &.rm-anim {
        animation-name: none !important;
    }

    .profilImg {
        width: 50px !important;
        border-radius: 70px;
        border: 3px solid white;
    }

    &.scroll,
    &.scrolling {
        height: auto;
        position: fixed;
        background: #ffffff;
        animation-duration: 0.2s;
        animation-name: showUp;
        height: 80px;
        transition: all 0.1s;

        .profilImg {
            border: 3px solid $black2;
        }

        &:has(.search-bar--open) {
            height: 120px;
        }

        @media screen and (max-width: 1500px) {
            .logo-big {
                width: 150px !important;
            }
        }

        @media screen and (max-width: 1024px) {
            justify-content: center;
            height: auto !important;
    
            .logo {
                width: 100% !important;
                display: flex;
                justify-content: center;
            }
            .logo img {
                width: 250px !important;
            }
            
            .header__right {
                display: none;
            }
    
            .search-bar {
                display: none !important;
            }

            
    
            
        }

        .header__right {
            
            i {
                color: black;
            }
            
        }
        
        @keyframes showUp {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        .logo-big {
            display: block;
        }

        .logo {
            width: 20%;
        }

        .logo-small {
            display: none;
        }
        
        .search-bar {
            justify-content: space-between;
            display: flex;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        justify-content: end;
        flex: 0 0 20%;
    }

    &.header--backoffice {
        height: 120px !important;
        padding-bottom: 0;

        .header__right {
            i { color: $ownerPrimaryColor; }
        }

        .logo-big {
            filter: brightness(0) saturate(100%) invert(9%) sepia(27%) saturate(6310%) hue-rotate(194deg) brightness(97%) contrast(94%);
        }
    
        .logo-small {
            filter: brightness(0) saturate(100%) invert(9%) sepia(27%) saturate(6310%) hue-rotate(194deg) brightness(97%) contrast(94%);
        }
    }

    .fa-user {
        font-size: 40px;
    }

    .fa-eye {
        font-size: 30px;
    }
    
    #logo {
        width: 250px;
        height: auto; 
    }

    #profil {
        width: 35px;
        height: auto; 
        cursor: pointer;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    

    #options  {
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        border-radius: 4px; 
        padding: 10px; 
        display: none; 
        position: absolute; 
        top: calc(100%); 
        right: 1em;
        z-index: 2; 

        ul {
            list-style-type: none; 
            padding: 0;
            margin: 0;
            li {
                color: black; 
                padding: 5px 0; 
                cursor: pointer; 
                
                a{
                    text-decoration: none; 
                    color: inherit; 
                }
            }
            li:hover {
                background-color: #f0f0f0; 
            }
        }
    }

    
}