@import '../../style/variables';

.header-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 6;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
    align-items: center;

    i {
        font-size: 30px;
        color: $clientPrimaryColor;
    }

    .fa-magnifying-glass {
        position: absolute;
        background-color: #fff;
        padding: 30px;
        border-radius: 70px;
        transform: translateY(-50%);
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    .header-mobile__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clientPrimaryColor;

        p {
            font-weight: bold;
        }
      }

    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    padding-inline: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    transition: all 0.3;
    background: rgb(115,115,115);
    background: linear-gradient(rgba(0,45,87,0.55) 0%, rgba(115,115,115,0) 100%);
    
    z-index: 1000;

    .logo {
    }

    i {
        color: white;
    }

    .logo-big {
        width: 20%;
        display: none;
    }

    .logo-small {
        display: block;
    }

    &.scroll,
    &.scrolling {
        height: auto;
        position: fixed;
        background: #ffffff;
        animation-duration: 0.2s;
        animation-name: showUp;
        height: 80px;

        @media screen and (max-width: 1024px) {
            justify-content: center;
            height: auto !important;
    
            .logo {
                width: 100% !important;
                display: flex;
                justify-content: center;
            }
            .logo img {
                width: 250px !important;
            }
            
            .header__right {
                display: none;
            }
    
            .search-bar {
                display: none !important;
            }
    
            
        }

        .header__right {
            
            i {
                color: black;
            }
            
        }
        
        @keyframes showUp {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        .logo-big {
            display: block;
        }

        .logo {
            width: 20%;
        }

        .logo-small {
            display: none;
        }
        
        .search-bar {
            justify-content: space-between;
            display: flex;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        justify-content: end;
        flex: 0 0 20%;
    }

    .fa-user {
        font-size: 40px;
    }

    .fa-eye {
        font-size: 30px;
    }
    
    #logo {
        width: 250px;
        height: auto; 
    }

    #profil {
        width: 35px;
        height: auto; 
        cursor: pointer;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    

    #options  {
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        border-radius: 4px; 
        padding: 10px; 
        display: none; 
        position: absolute; 
        top: calc(100%); 
        right: 75px;
        z-index: 2; 

        ul {
            list-style-type: none; 
            padding: 0;
            margin: 0;
            li {
                color: black; 
                padding: 5px 0; 
                cursor: pointer; 
                
                a{
                    text-decoration: none; 
                    color: inherit; 
                }
            }
            li:hover {
                background-color: #f0f0f0; 
            }
        }
    }

    
}