@use '../style/variables';
@use '../style/ui';

body {
    margin: 0;
    background-color: variables.$whiteColor;
}

.content {
    height: 38em;
    display: flex;
    align-items: center;
    padding-top: 100px;

    &__selector {
        width: 15em;
        height: 38em;
        background: variables.$whiteColor;
        color: variables.$clientPrimaryColor;
        box-shadow: 9px 0px 15px -3px rgba(0, 0, 0, 0.1);

        > div {
            height: 4em;
            border-bottom: 1px solid variables.$secondaryColor;
            display: flex;
            align-items: center;
            padding-left: 7%;

            &.content__selector--current {
                background: variables.$clientPrimaryColor;
                color: variables.$whiteColor;
            }
        }
    }
    > div:not(:first-child) {
        margin: 1em;
        display: flex;
        flex-direction: column;
        width: 85em;
        height: 30em;


    }
    &__personnal-data {
        display: flex;
        flex-direction: column;

        &__elements {
            background: red;
            width: 15em;
            
        }

        &__image {
            width: 5em;
            height: 5em;
            border-radius: 50%;
            order: 1; // Placer l'image à droite
            margin-left: auto; // Aligner l'image à droite
        }
    }
}